@using System.Globalization
@inject LanguageService LanguageService

<label class="field-label">@Label</label>
<input class="input-field"
       list="all-language-options"
       value="@Value"
    autocomplete="off"
       disabled="@Disabled"
       required="@Required"
       @onchange="OnInputChanged" />

<datalist id="all-language-options">
    @foreach (var language in _allLanguages)
    {
        <option value="@language.Code">@language.LocalName (@language.NativeName)</option>
    }
</datalist>

@code {
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public string Label { get; set; } = "Language";
    [Parameter] public bool Required { get; set; }
    [Parameter] public bool Disabled { get; set; }

    private List<(string Code, string LocalName, string NativeName)> _allLanguages = new();

    protected override void OnInitialized()
    {
        _allLanguages = LanguageService.GetAllLanguages().ToList();
    }

    private async Task OnInputChanged(ChangeEventArgs args)
    {
        var value = args.Value?.ToString() ?? string.Empty;
        await ValueChanged.InvokeAsync(value);
    }

}
